// FIXME: font-size を em → remに修正
.episode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 100px 0;
  font-size: 10px;

  &__profile {
    flex-basis: 25.0%;
    margin-right: 36px;
  }

  &__image::before {
    padding-top: 100%;
    display: block;
    background-color: navajowhite; // TODO: 確認用、後で消す
    content: '';
  }

  &__image {
    width: 100%;
    background-color: navajowhite; // TODO: 確認用、後で消す
    display: block;
  }

  &__info {
    margin-top: 20px;
    display: block;
    text-align: center;
    font-size: 2.0em
  }

  &__starring {
    margin-top: 20px;
  }

  &__starringTitle {
    font-size: 4.0em;
    border-bottom: 1px solid #707070;
    text-align: center;
  }

  &__bioContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  &__bioWrapper {
    margin: auto;
    text-align: center;
  }

  &__bioImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: navajowhite;
  }

  &__bioName {
    margin-top: 20px;
    font-size: 2.4em
  }
  
  &__aboutLink {
    display: block;
    color: hsla(0, 0%, 0%, 0.8);
    text-align: center;
    margin-top: 28px;
    font-size: 4.0em;
    
  }

  &__info {
    text-align: left;
  }

  &__detail {
    margin-top: 32px;
  }

  &__title {
    
    margin-top: 32px;
    border-top: 1px solid #707070;
    padding-top: 32px;
  }

  &__content {
  }

}